<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="upper-page">
      <div class="right-side">
        <img src="" alt="book-cover">
      </div>
      <div class="left-side">
        <div class="title-book-page">Title</div>
        <div class="description-book-page">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos
          ratione amet dolores fugiat ad cumque? Hic sapiente expedita soluta
          corporis, necessitatibus praesentium perferendis id dolore officia
          impedit veniam omnis nam. Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Dignissimos ratione amet dolores fugiat ad cumque?
          Hic sapiente expedita soluta corporis, necessitatibus praesentium
          perferendis id dolore officia impedit veniam omnis nam.
        </div>
        <div class="author-book-page">John Doe</div>
        <div class="rating-book-page">
          <h3>Ratings: 4.5/6</h3>
          <form class="star-review" action="" method="POST">
            <input type="hidden" name="rating[post_id]" value="3" />
            <button
              class="star-review-button"
              type="submit"
              name="rating[rating]"
              value="5"
            >
              &#9733;
            </button>
            <button
              class="star-review-button"
              type="submit"
              name="rating[rating]"
              value="4"
            >
              &#9733;
            </button>
            <button
              class="star-review-button"
              type="submit"
              name="rating[rating]"
              value="3"
            >
              &#9733;
            </button>
            <button
              class="star-review-button"
              type="submit"
              name="rating[rating]"
              value="2"
            >
              &#9733;
            </button>
            <button
              class="star-review-button"
              type="submit"
              name="rating[rating]"
              value="1"
            >
              &#9733;
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="lower-page">
      <div class="reviews-section">
        <h2>Reviews</h2>
        <div class="single-review review-id">
            <p>Wow this book is a book.</p>
        </div>
      </div>
      <div class="input-review-section">
        <input type="text" name="enter-review" id="enter-review">
      </div>
    </div>
  </body>
</html>
