<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="title"><h1>BOOKS REVIEW</h1></div>
    <div class="options">
      <button>Add Review</button>
      <button>Filter</button>
    </div>
    <div class="books">
      <div class="single-book book-id">
        <img
          src="https://upload.wikimedia.org/wikipedia/en/6/69/Omniscient_Reader%27s_Viewpoint_Volume_1_Cover.jpg"
          alt="book-one"
        />
        <h3>Title: Omniscient Readers Viewpoint</h3>
        <h4>Author: Shinshong</h4>
      </div>
    </div>
  </body>
</html>
