.feature {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 20px;
  gap: 5px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.book {
  width: calc(15% - 10px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.book h2 {
  margin-bottom: 5px;
}

.book p {
  font-size: 14px;
  margin-bottom: 0;
}

.cover-page {
  width: 150px;
}

h4 {
  margin: 0px;
}

/* Deco button */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #4caf50; /* Green */
  color: white;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button:not([type="submit"]) {
  background-color: #add8e5; /* Red */
  color: white;
}

button:not([type="submit"]):hover {
  background-color: #9ac1cd;
}
